.App {
  text-align: center;
  background: url(./img/GradientBackground3.png);
  background-size: cover;
  position: fixed;
  width: 205vh;
  height: 100vh;
}

.Panel{
  width: 60vh;
  text-align: center;
  padding-top: 10vh;
  margin-top: 20vh;
  margin-left: 75vh;
  border-radius: 10%;
}

.Home{
float: left;

}

.MainBox{
margin-left: 250px;
height: 100vh;
}

.LeftBoxMain{
    float: left;
    margin: 2%;
    background: #487a82;
    width: 45%;
    height: 100vh;
}
.RightBoxMain{
    float: left;
    margin: 2%;
    background: #487a82;
    width: 45%;
    height: 100vh;

}

.PlayerBox{
 margin: 1%;
 height: 20%;


}

.Field{
 float: left;
 background: url(./img/playSoccer.jpg);
 margin: 1%;
 width: 799px;
 height: 499px;

}
.RightBoxTeam{

 margin-left: 820px;
 margin-top: 2%;
 margin-right: 1%;
 background: #487a82;
 height: 499px;

}
.BotBoxTeam{
margin: 1%;
 background: #ff76;
 height: 20vh;
}


.CardPlayer{
   display: flex;
   margin: 0 auto;

}

.ImgCardPlayer{
width: 20vh;
height: 20vh;
}

.fields {
    float: left;
  width: 75px;
  height: 75px;
}

.circle {

  display: flex;
  width: 75px;
  height: 75px;
  background-color: #ffc107;
  border-radius: 50%;
  align-items: center;
  justify-content: center;


}

.circle:hover {
  background-color: #1a83ff;
}

.circleField {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #ffc107;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.circleField:hover {
 background-color: #6ae68b;
}


.InfoTopBox{
margin: 1%;
height: 20vh;
background: #6c757d;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
